<div class="banner banner1">
	<h1><p>Ainda que eu falasse a língua</p> <p>dos homens e dos anjos ...</p></h1>
</div>

<div class="banner banner2">
	<h1>Sem amor ...</h1>
</div>

<div class="banner banner3">  
    <h1>Eu nada seria!</h1>
</div>

<A NAME="PHOTOS"></A>
	<div class="d-none d-md-block d-lg-block d-xl-block">
		<%= render "renderPhotos" %>
	</div>
	<div class="d-md-none">
		<%= render "renderPhotosMobile" %>
	</div>

<A NAME="INFORMATIONS"></A>
<div class="informations">
	<h1>Informações</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Data e Hora:</h2>
				<h3>12 de outubro de 2020</h3>
				<h3>15 horas</h3>
			</div>
			<div class="col-md-6">
				<h2>Como chegar:</h2>
				<h3>Clique no ícone abaixo:</h3>
				<a href="https://www.google.com.br/maps/place/Viu+Fest/@-20.5739945,-43.8416968,14z/data=!4m5!3m4!1s0xa15ef43cfaba19:0x73be6d9fdb185c99!8m2!3d-20.5768873!4d-43.8439284"><h4><i class="fas fa-map-marker-alt"></i></h4></a>
			</div>
		</div>
	</div>
	
</div>

<A NAME="CONFIRMATION"></A>






