/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font_awesome5_webfont
 */

 /*
	cores:
		#DDE8B9
		#E8D2AE
		#D7B29D
		#CB8589
		#796465

	 */	

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Jim+Nightshade|Open+Sans+Condensed:300|Poppins&display=swap');

$back-color: #796465;
$font-color: #E8D2AE;
$shadow-color: #000;
$header-color: #CB8589;
$font-links: 'Open Sans Condensed', sans-serif;
$font-logo: 'Dancing Script', cursive;

*, body {
	margin: 0;
	padding: 0;
}

/*@media only screen and (min-width: 992px) {*/
	 header {
	 	width: 100%;
	 	height: 100px;
	 	position: fixed;
	 	float: left;
	 	z-index: 2;
	 	transition: .5s;
	 }
	 header .header-container {
	 	width: 100%;
	 	height: 100%;
	 	background-color: $header-color;
	 	opacity: .8;
	 }

	 header .links {
	 	position: relative;
	 	margin-top: -56px;
	 }

	 header .links a{
	 	color: #DDE8B9;
	 	font-family: $font-links;
	 	text-decoration: none;
	 	font-size: 22px;
	 	text-shadow: 1px 1px #796465;
	 	transition: .5s;
	 }

	 header .links a:hover {
	 	background: none;
	 	color: #796465;
	 }

	 header .links-left {
	 	float: left;
	 }

	 header .links-left li {
	 	margin-left: 40px;
	 }

	 header .links-right {
	 	float: right;
	 }

	 header .links-right li{
	 	margin-right: 40px;
	 }
	 header li {
	 	display: inline;
	 }

	 .notices {
	 	width: 100%;
	 	height: 50px;
	 	position: absolute;
	 	float: left;
	 	margin-top: 100px;
	 	font-size: 18px;
	 	background-color: #fff;
	 }

@media only screen and (min-width: 992px) {
	 .banner {
	 	width: 100%;
		height: 700px;
		position: relative;
		float: left;
		background-size: 100% 100%;
	 }
	 .banner1 {
	 	background-image: url("foto14.jpeg");
	 }
	 .banner h1 {
	 	width: 80%;
	 	float: left;
	 	margin-top: 220px;
	 	margin-left: 10%;
	 	color: #796465;
	 	font-size: 48px;
	 	text-align: center;
	 	font-family: $font-links;
	 	text-shadow: 2px 2px #000;
	 }
	 .banner p {
	 	font-size: 48px;
		margin-bottom: 50px;
		font-family: $font-links;
	 }
	 .banner2 {
	 	background-image: url("foto13.jpeg");
	 }
	 .banner3 {
	 	background-image: url("foto16.jpeg");
	 }
}
	 footer {
	 	width: 100%;
	 	position: relative;
	 	float: left;
	 	background-color: $back-color;
	 }

	 .footer-section {
	 	height: 300px;
	 	transition: .5s !important;

	 	h2 {
	 		font-family: $font-links;
	 		color: $header-color;
	 		margin-top: 30px;
	 		font-size: 42px;
	 	}

	 	li {
	 		text-decoration: none;
	 		list-style-type: none;
	 		text-align: center;
	 		font-family: $font-links;
	 		color: $font-color;
	 		transition: .5s;
	 		font-size: 22px;
	 		margin-bottom: 15px;
	 	}
	 	a {
	 		transition: .5s;
	 	}
	 	.social-links {
	 		text-align: center;
	 		font-size: 36px;

	 		h3 {
	 			font-size: 22px;
	 			font-family: $font-logo;
	 			color: $font-color;
	 			text-shadow: 1px 1px #000;
	 		}

	 		.row {
	 			margin-bottom: 20px;
	 		}

	 		.fa-facebook {
	 			float: right;
	 		}
	 		.fa-instagram {
	 			float: left;
	 		}

	 		i {
	 			color: #D7B29D;
	 		}
	 	}
	 }
/*}*/








